.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.movie-poster{
  height: 450px;
  width: 300px;
  border-radius: 10px;
}
.backdrop-poster-bg{
  background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 31.5, 0.84) 50%, rgba(31.5, 31.5, 31.5, 0.84) 100%);
  /* height: 100vh; */
}
.backdrop-poster{
  /* background-image: url("https://image.tmdb.org/t/p/original/hedpN98bby44kR0PrTuMnUjgXVc.jpg"); */
  /* height:100vh; */
  background-size: cover;
  background-repeat: no-repeat;
}
.movie-details{
  color: white;
  margin: 70px auto;
}
.parent-container{
  width: 1320px;
  margin-bottom: 100px;
}
.tagline{
  font-style: italic;
  color: rgb(155, 155, 155);
}
.movie-poster-parent{
  display: flex;
  justify-content: center;
}

.recommended-movie{
  height: 350px;
  width: 250px;
  border-radius: 10px;
}

.reconded-movie-poster-parent{
  display: flex;
  overflow: scroll;
}

.popular-poster-parent{

}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  flex-direction: column-reverse;
}

.selector{
  min-width: 50%;
}

@media screen and (max-width:768px){
  .recommended-movie, .movie-poster{
    height: 500px;
    width: 375px;
    border-radius: 10px;
  }
  
}

.h-90{
  height: 80vh;
}

.imgg{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.imgg-mobile{
  height: 80%;
  width: 80%;
  border-radius: 10px;
}